{% macro select(options, id, name, label="", class="", default=True) %}
    <div class="form-group">
        <label>{{label}}</label>
        <select class="custom-select {{class}}" id="{{id}}" name="{{name}}">
            {% for item in options %}
                {% if default and loop.first %}
                    <option selected value="">Select one</option>
                {% else %}
                    <option value="{{item.id}}">{{item.name}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
{% endmacro %}